.contact_body {
    background:  #e6dace !important;
    min-height: 950px  !important;
    padding: 2% !important;

}

.contact_body_element{
    padding:10% 25% 0 25%;
}

.contact-card {
    margin:20px 0  6px 0  !important;
    margin-bottom: 6px !important;
    padding: 5%;
}
.page-header{
    text-align: center;
    font-weight: bold;


}

.send-button{
    padding-top: 12%;
}

@media screen and (max-width: 420px) {
    .contact_body_element{
        padding:30% 0 0 0;
    }
}