.left-side {
  background-color: #e6dace;
  height: 650px;
}

.card-img-top {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.card {
  width: 300px;
  height: 40%;
  background-color: #f4ece6;
  padding: 29%;
  
}
.author-detail {
  padding: 10% 0 10% 65%;
  border-radius: 15px solid gray;
  
 
}
.card-title{
  font-weight: bold;
}
hr{
  margin: 16px;
  
  height: 1px;
  background-color: blue;

 
}

.right-side {
  height: 650px;
  padding-left: 10%;
}

.right-side button{
  margin-right: 14px;
  height: 34px;
  font-size: 16px;
  margin-bottom: 23px;
}


