.home-body{
  width: 98% !important;
}


.left-side {
  background-color: #e6dace;
  height: 650px;
}

.home-card-img-top {
  border-radius: 50% !important;
  height: 150px !important;
  width: 150px !important;
}
.home-card {
  width: 300px !important;
  height: 20% !important;
  background-color: #f4ece6 !important;
  padding: 29% !important; 
  
}
.author-detail {
  padding: 10% 0 0% 65%; 
  border-radius: 15px solid gray;
  
 
}
.home-card-title{
  font-weight: bold !important;
}
hr{
  margin: 0;
  height: 1px;
  background-color: blue;

 
}

.right-side {
  height: 650px !important;
  padding-left: 8%  !important;
  text-align: justify;
  padding-top: 10%;
}

.right-side button{
  margin-right: 14px;
  height: 34px;
  font-size: 16px;
  margin-bottom: 23px;
}

.about-me {
  font-family:'Lucida Sans', Courier, monospace ;
}


@media screen and (max-width: 420px) {
  .home-card {
    width: 300px !important;
    height: 20% !important;
    background-color: #f4ece6 !important;
    padding: 10px !important;  
    
  }
  .author-detail {
    padding: 0px;
    border-radius: 15px solid gray;
    
   
  }
  .home-card-img-top{
    margin-left: 16%;
  }
  
}


