.resume_body {
    background:  #e6dace !important;
    min-height: 950px  !important;
    padding: 2% !important;

}

.resume_body_element{
    padding:10% 25% 0 25%;
}

.resume-card {
    margin:20px 0  6px 0  !important;
    margin-bottom: 6px !important;
    padding: 5%;
}
.page-header{
    text-align: center;
    font-weight: bold;


}

@media screen and (max-width: 420px) {
    .resume_body_element{
        padding:0;
    }
}