

.navbar {
  position: fixed  !important;
  top: 0;
  width: 100%;
  display: block;
  z-index: 9999;
  overflow: hidden;
  padding:0  !important;
 
}


body{
  /* margin-top: 2% !important; */
}
footer{
  overflow: hidden;
}



@media (max-width:550px){
  
}